<app-header
  title="Concentración por Venue"
  desc="Conoce la ocupación en tiempo real
  de las distintas áreas"
  image="assets/images/footfall-01.svg"
></app-header>

<div class="container">
  <div class="row between-xs mat-20">
    <!-- <img src="./assets/images/main_banner.svg" alt="" class="col-xs-12"> -->
    <h2 class="col-xs-12 head-line">
      Con EVO tendrás el control de los datos con un click.
    </h2>
    <img src="./assets/images/main_venue.svg" alt="" class="col-xs-3 img-link" (click)="goToVenues()" >
    <img src="./assets/images/main_clients.svg" alt="" class="col-xs-3 adjust-temp">
    <img src="./assets/images/main_navigation.svg" alt="" class="col-xs-3">
  </div>
</div>
