<div class="mt-60"></div>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon svgIcon="account-group"></mat-icon>&nbsp;Venues
      </mat-panel-title>
    </mat-expansion-panel-header>
    
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon svgIcon="account-group"></mat-icon>&nbsp;Clientes y Visitas
      </mat-panel-title>
    </mat-expansion-panel-header>
    
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon svgIcon="cog-outline"></mat-icon>&nbsp;Configuración
      </mat-panel-title>
    </mat-expansion-panel-header>
    <button mat-button routerLink="/main/settings/splash-login">Splash Login</button>
    <button mat-button routerLink="/main/settings/">Configuracíon</button>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon svgIcon="account-circle"></mat-icon>&nbsp;Usuario
      </mat-panel-title>
    </mat-expansion-panel-header>
    <button mat-button><mat-icon svgIcon="exit-to-app"></mat-icon>Cerrar sesión</button>
  </mat-expansion-panel>
</mat-accordion>