
.footer {
  background: #F3F3F3;
}

.text-footer {
  margin-top: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 13px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;

  /* 900-secondary */

  color: #1D1D1D;
}

.footer-image {
  margin-top: 10px;
  max-height: 14px;
}