<app-header
  image="assets/images/users-online.svg"
></app-header>
<div class="container">
  <form [formGroup]="form">
    <div class="row mt-20">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2><mat-icon svgIcon="filter-variant"></mat-icon> Ubicación</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <mat-form-field appearance="outline">
          <mat-label>Organización</mat-label>
          <mat-select formControlName="organization" (selectionChange)="getNetworks()">
            <mat-option *ngFor="let org of organizations" [value]="org.meraki_id">
              {{ org.organization_rename }} - {{ org.meraki_id }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <mat-form-field appearance="outline">
          <mat-label>Red / Venue</mat-label>
          <mat-select formControlName="network" (selectionChange)="getAreas()">
            <mat-option *ngFor="let net of networks" [value]="net">
              {{ net.network_rename }} - {{ net.meraki_id }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <mat-form-field appearance="outline">
          <mat-label>Área</mat-label>
          <mat-select formControlName="area">
            <mat-option *ngFor="let area of areas" [value]="area">
              {{ area.area_name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-md-offset-10">
        <button
          style="width: 100%;"
          mat-flat-button
          [disabled]="form.invalid || loading"
          color="primary"
          class="radius"
          [class.spinner]="loading"
          (click)="onSubmit()"
        >
          Aplicar filtros
        </button>
      </div>
    </div>
  </form>
  <section>
    <app-users-online-table *ngIf="table === 1"></app-users-online-table>
    <app-users-online-rows-container *ngIf="table === 2"></app-users-online-rows-container>
  </section>
</div>