<div class="row mt-20">
  <div class="col-xs-12">
    <h4 class="area-text">
      Crea áreas dentro de su Venue
    </h4>
  </div>
  <div class="col-xs-4 col-xs-offset-8 end-xs">
    <button
      mat-raised-button
      color="primary"
      class="radius"
      (click)="openNewAreaDialog(null)"
    >
      Agregar nueva área
    </button>
  </div>
</div>

<div class="row mt-20">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card-container">
      <div class="row middle-xs center-xs" [class.shadow]="isExpanded">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <p class="bold">Nombre del área</p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
          <p class="bold">Acciones</p>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
          <button mat-icon-button color="primary" (click)="toggle()">
            <mat-icon [svgIcon]="isExpanded ? 'chevron-up' : 'chevron-down'"></mat-icon>
          </button>
        </div>
      </div>
      <div class="detail" [@toggle]="isExpanded ? 'expanded' : 'collapsed'">
        <div class="row middle-xs center-xs border" *ngFor="let area of areas">
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <p>{{ area.area_name }}</p>
          </div>
          <div class="col-xs-7 col-sm-6 col-md-6 col-lg-6">
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <button mat-icon-button color="primary" (click)="openNewAreaDialog(area)">
              <mat-icon svgIcon="square-edit-outline"></mat-icon>
            </button>
          </div>
          <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>